@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}

body, html {
    height: 100%;
}

.banner {
    display: none;
}

h1, h2 {
    font-family: 'Merriweather', sans-serif;
}

input:not([type='radio']){
    padding: 1rem;
    width: 100%;
    border: 1px solid;
    border-radius: 5px;
}

input[type='button'] {
    border: none;
    cursor: pointer;
    font-weight: bold;
}

a {
    text-decoration: none;
}